.widget0{
    display: flex;
    margin-left: 60px;
    margin-right: 20px;
    padding-right: 10px;
    width: 30em;
    -webkit-box-shadow:2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    border-radius: 10px;
    height: 13em;
    margin-bottom: 20px;
    justify-content: space-between;
    position: relative;


    .title{
        display: flex;
        color: black;
        padding: 20px 20px 10px 20px;
        color: gray;
        font-weight: 700;
        

    }

    .numb{
        color: black;
        font-weight: bold;
       margin-left: 30px;
       margin-bottom: 10px;
       padding: 10px;
        font-size: 30px;
       
    }
    .left{
        position: relative;
    }
    .per{
            font-size: 12px;
            padding: 3px;
            color: white;
            background-color: #1CAC78;
            border-radius:45%;
           position: absolute;
           top: 60px;
            left: 11em;
            
    }
    
}